# ================================
# Visual Studio
# ================================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ================================
# Build folders
# ================================
bin/
obj/
[Bb]in/
[Oo]bj/

# ================================
# .NET Core / .NET 5+
# ================================
*.log
*.tlog
*.lastbuildstate

# ================================
# NuGet
# ================================
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# ================================
# IDEs
# ================================
.vscode/
.idea/

# ================================
# OS files
# ================================
.DS_Store
Thumbs.db

# ================================
# Publish output
# ================================
publish/